@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

:root {
    --white: #ffffff;
    --black: #000000;

    --gray-light: #d9d9d9;

    --light: #f2f2f2;
    --dark: #0d0d0d;

    --yellow: #f2cb05;
    --orange: #f29f05;
    --brown: #a64f03;
}

/* tags */

html,
body {
    font-family: "Bebas Neue", cursive;
    font-size: 16px;
}

html {
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: var(--light);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    font-size: 128px;
    font-weight: 400;
    line-height: 80%;
    color: var(--dark);
}

h2 {
    font-size: 96px;
    font-weight: 400;
    line-height: 115px;
    color: var(--dark);
}

h3 {
    font-size: 64px;
    font-weight: 400;
    line-height: 80%;
    color: var(--dark);
}

p {
    font-family: "Barlow", sans-serif;

    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    color: var(--dark);
}

/* universal classes */

.center_text {
    text-align: center;
}

.container {
    width: 100vw;
    height: 100vh;
}

/* sections */

/* navbar */
.navbar {
    height: 100vh;
    width: calc(75vw - 150px);

    position: fixed;
    right: 0;
    top: 0;

    padding-left: 150px;
}

.sidebar {
    background-color: var(--yellow);

    height: 100vh;
    width: 25px;

    position: absolute;
    z-index: 100;
    right: 0;

    padding: 15px;
}

.navigator {
    background-color: var(--yellow);

    display: none;
}

.menu_lable {
    transform: rotate(90deg);
}

/* work */
.work_intro {
    padding: 10%;
}
